.buttons {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.operations{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}

.operations * {
    border: solid 1px black;
    width: 80%;
    height: 75px;
    line-height: 75px;
    background-color: rgb(51 50 50);
    color: #ffd806;
    border-radius: 20%;
}

.keys * {
    border: solid 1px black;
    width: 80%;
    height: 75px;
    line-height: 75px;
    background-color: rgb(51 50 50);
    color: #ffd806;
    border-radius: 20%;
}

.keys *:hover {
    border: solid 1px white;
}

.keys *:active {
    border: solid 1px white;
    box-shadow: 0 0 6px 3px #acacac;
} 

.operations *:hover {
    border: solid 1px white;
}

.operations *:active {
    border: solid 1px white;
    box-shadow: 0 0 6px 3px #acacac;
} 

.container {
    position: relative;
    margin: 100px auto 0 auto;
    background-color: rgb(46 89 123);
    border: solid 1px black;
    width: 500px;
    height: 500px;
    border-radius: 1%;
    box-shadow: 8px 9px 7px 0px #888888;
}

.numbers {
    color: black;
    border: solid 1 px black;
}

.screen {
    grid-column: 1/ span 2;
    width: 500px;
    height: 100%;
    /* border: solid 1px black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px 0 0 0; */
}

#display {
    border: solid 1px black;
    height: 80px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #d8d5d5;
    border-radius: 2%;
}

#output {
    /* border: solid 1px black; */
    text-align: right;
    margin: 0 1% 0 0;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

#equals {
    grid-column: 1 / span 2;
    width: 90%;
}

#AC {
    grid-column: 1/ span 2;
    width: 90%;
}

.clicked {
    border: solid 1px white;
    box-shadow: 0 0 6px 3px #acacac;
}